{% extends 'RMS/main.html' %}
{% load static %}




{% block content %}


<div class="container ">

    



    <div class="poster">

    <div class="insideposter">
        <h1 class="headofedit"> Edit Password</h1>
    </div>
    </div>

    <div class="card info containerpass" >
        <div class="card-bodypass" >
            <form id="passwordform" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Old Password">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="New Password">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password">
                </div>

                <button type="submit" class="btn btn-primary" style="margin-left:350px; width:90px;height:40px " >Save</button>
            </form>
        </div>
    </div>

{% endblock %}
