{% extends 'RMS/main.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Company Profiles</title>
  <style>
    /* Basic styling for demonstration purposes */
    .company-card {
      border: 2px solid #ccc;
      padding: 20px;
      margin: 10px;
      width: 750px;
      height: 500px;
      display: inline-block;
      text-align: center;
      margin-left:500px;
       margin-top:20px;
       background-color:#eee;
       color:black;
    }
    .company-img {
      max-width: 100%;
      height: auto;
    }
    .column {
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding: 0 15px;
      margin-left:100px;
    }
    /* Clear floats after every two columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    .btn{
    background-color: #3498db;
       color: #fff;
    }
    .btn:hover{
    background-color: #3498db;
    color: #fff;
      
    }
  </style>
</head>
<body>

<div class="row">
  <div class="column">
    <!-- Company 1 -->
   
    <!-- Company 2 -->
    <div class="company-card">
        <img src="https://avatarfiles.alphacoders.com/210/210164.jpg" class="img-fluid avatar-xxl rounded-circle" alt="">
      <h4 class="text-primary font-size-20 mt-3 mb-2">Microsoft</h4>
                        <div class="text-center border-end">
                            <h5 class="text-muted font-size-13 mb-0">Software Company</h5>
                            
                            <div>
                               
                                <p class="mb-0 text-muted">Microsoft Corporation is an American multinational technology corporation headquartered in Redmond, Washington. </p>
                            </div>

                         
                                <div class="col-md-12">
                                    <div>
                                        <p class="text-muted mb-2 fw-medium"><i class="mdi mdi-email-outline me-2"></i>Janshwells@probic.com
                                        </p>
                                        <p class="text-muted fw-medium mb-0"><i class="mdi mdi-phone-in-talk-outline me-2"></i>418-955-4703
                                        </p>
                                    </div>                                   
                                </div>
                        </div>
         <br>
      <button type="button" onclick="location.href='comProfileOut'" href="comProfileOut" class="btn" data-mdb-ripple-color="dark" style="z-index: 1; "> View profile </button>
    </div>
 



    <div class="company-card">
        <img src="https://avatarfiles.alphacoders.com/210/210164.jpg" class="img-fluid avatar-xxl rounded-circle" alt="">
      <h4 class="text-primary font-size-20 mt-3 mb-2">Microsoft</h4>
                        <div class="text-center border-end">
                            <h5 class="text-muted font-size-13 mb-0">Software Company</h5>
                            
                            <div>
                               
                                <p class="mb-0 text-muted">Microsoft Corporation is an American multinational technology corporation headquartered in Redmond, Washington. </p>
                            </div>

                         
                                <div class="col-md-12">
                                    <div>
                                        <p class="text-muted mb-2 fw-medium"><i class="mdi mdi-email-outline me-2"></i>Janshwells@probic.com
                                        </p>
                                        <p class="text-muted fw-medium mb-0"><i class="mdi mdi-phone-in-talk-outline me-2"></i>418-955-4703
                                        </p>
                                    </div>                                   
                                </div>
                            
                        </div>

         <br>
                        
      <button type="button" onclick="location.href='comProfileOut'" href="comProfileOut" class="btn" data-mdb-ripple-color="dark" style="z-index: 1; "> View profile </button>
    </div>




    
    <div class="company-card">
        <img src="https://avatarfiles.alphacoders.com/210/210164.jpg" class="img-fluid avatar-xxl rounded-circle" alt="">
      <h4 class="text-primary font-size-20 mt-3 mb-2">Microsoft</h4>
                        <div class="text-center border-end">
                            <h5 class="text-muted font-size-13 mb-0">Software Company</h5>
                            
                            <div>
                               
                                <p class="mb-0 text-muted">Microsoft Corporation is an American multinational technology corporation headquartered in Redmond, Washington. </p>
                            </div>

                         
                                <div class="col-md-12">
                                    <div>
                                        <p class="text-muted mb-2 fw-medium"><i class="mdi mdi-email-outline me-2"></i>Janshwells@probic.com
                                        </p>
                                        <p class="text-muted fw-medium mb-0"><i class="mdi mdi-phone-in-talk-outline me-2"></i>418-955-4703
                                        </p>
                                    </div>                                   
                                </div>
                            
                        </div>

         <br>
                        
      <button type="button" onclick="location.href='comProfileOut'" href="comProfileOut" class="btn" data-mdb-ripple-color="dark" style="z-index: 1; "> View profile </button>
    </div>





    <!-- Company 2 -->
    <div class="company-card">
        <img src="https://avatarfiles.alphacoders.com/210/210164.jpg" class="img-fluid avatar-xxl rounded-circle" alt="">
      <h4 class="text-primary font-size-20 mt-3 mb-2">Microsoft</h4>
                        <div class="text-center border-end">
                            <h5 class="text-muted font-size-13 mb-0">Software Company</h5>
                            
                            <div>
                               
                                <p class="mb-0 text-muted">Microsoft Corporation is an American multinational technology corporation headquartered in Redmond, Washington. </p>
                            </div>

                         
                                <div class="col-md-12">
                                    <div>
                                        <p class="text-muted mb-2 fw-medium"><i class="mdi mdi-email-outline me-2"></i>Janshwells@probic.com
                                        </p>
                                        <p class="text-muted fw-medium mb-0"><i class="mdi mdi-phone-in-talk-outline me-2"></i>418-955-4703
                                        </p>
                                    </div>                                   
                                </div>
                            
                        </div>

         <br>
                        
      <button type="button" onclick="location.href='comProfileOut'" href="comProfileOut" class="btn" data-mdb-ripple-color="dark" style="z-index: 1; "> View profile </button>
    </div>
  </div>
</div>
</div>
</div>

</body>
</html>

{% endblock %}
