{% extends 'RMS/main.html' %}




{% block content %}




<div class="container"  >


    <div class="poster">

    <div class="insideposter">
        <h1 class="headofedit"> Edit Other</h1>
    </div>
    </div>

    <div class="card info" >
        <div class="card">

                
            <div class="card-body" >
                <div  style="margin: 15px 20px 10px 20px;">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h4 class="card-title mb-0">Other</h4>
                        <a class="btn btn-primary" href="{% url 'addproject' %}" role="button" style="margin-top: 20px;">Add New</a>
                    </div>
                        
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->    

     </div>
             
</div>

<script>
    document.getElementById('profilePicture').addEventListener('change', function (event) {
        const imagePickerContainer = document.getElementById('imagePickerContainer');
        const fileInput = event.target;
        const file = fileInput.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                const imageUrl = e.target.result;

                // Update the image picker with the selected image
                imagePickerContainer.innerHTML = `<img src="${imageUrl}" alt="Selected Image" class="img-fluid rounded-circle">`;
            };

            reader.readAsDataURL(file);
        }
    });
</script>


{% endblock %}
