{% extends 'RMS/main.html' %}
{% load static %}




{% block content %}

<head>

<style>




</style>




</head>

<body>

<div class="containeruser" >
    <div class="row " >
        <div class="col-xl-8" style="width: 88%;margin-left:140px;">
            <div class="cardcv" style="margin-top: 50px;  background-color: white; padding:25px 30px; 0px; 30px;">
                <div class="cardcv-body pb-0">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="text-center border-end" style="margin-bottom: 35px;">
                                <img src="{% static 'images/user.png' %}" class="img-fluid avatar-xxl rounded-image" alt="" style="height: 160px; width:155px">
                                <h4 class="text-primary font-size-20 mt-3 mb-2" style="font-size: 20px;">Ahmed Mohamed yasser</h4>
                                <h5 class="text-muted font-size-13 mb-0" style="font-size: 15px; ">Web Designer</h5>
                            </div>
                        </div><!-- end col -->
                        <div class="col-md-9">
                            <div class="ms-3">
                                <div style="margin-top: 30px;">
                                    <h4 class="card-title mb-2">Biography</h4>
                                    <p class="mb-0 text-muted">Hi I'm Jansh,has been the industry's standard
                                        dummy text To an English person alteration text.</p>
                                </div>
                                <div class="row my-4">
                                    <div class="col-md-12">
                                        <div>
                                            <div class="plus_info" style = "position:relative; left:160px;">
                                            <p class="text-muted mb-2 fw-medium"><i class="mdi mdi-email-outline me-2" ></i>Janshwells@probic.com
                                            </p>
                                            <p class="text-muted fw-medium mb-0" style = "position:relative; right:30px;"><i class="mdi mdi-phone-in-talk-outline me-2" ></i>418-955-4703
                                            </p>
                                            </div>

                                        <div class="plus_info tw">
                                            <div class="pt-2">
                                                <div class="d-flex align-items-center gap-3" style = "position:relative; right:55px;">
                                                    <i class="fas fa-calendar-alt fa-lg "></i>
                                                    <p class="mb-0 font-size-16">22-8-2000</p>
                                                </div>
                                                <div class="d-flex align-items-center gap-3" style = "position:relative; right:55px;">

                                                    <i class="fas fa-map-marker-alt fa-lg"></i>
                                                    <p class="mb-0 font-size-16">California, United States</p>
                                                
                                                </div>
                                            </div>
                                        </div>

                                            <a class="btn btn-outline-secondary" href="{% url 'Editcvinfo' %}" role="button" style="float: right:10px; margin-top:40px;">Edit Information</a>
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->

                             
                                
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end card body -->
            </div><!-- end card -->

            <div class="card" style="float: left; width:73%;">

                
                <div class="card-body" >
                    <div  style="margin: 15px 20px 10px 20px;">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h4 class="card-title mb-0">Education</h4>
                            <a class="btn btn-outline-secondary" href="{% url 'usereducation' %}" role="button" style="margin-top: 20px;">Edit Education</a>
                        </div>
                        <ul class="list-unstyled mb-0">
                            <!-- Education Entry 1 -->
                            <li style="list-style: none; margin-bottom: 20px; padding: 15px; border: 1px solid #ddd; border-radius: 8px;">
                              <h5 class="lh-base mb-0" style="padding-bottom: 15px; color: black;">University Name</h5>
                              <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">Degree: </span>Bachelor of Science</p>
                              <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">Major: </span>Computer Science</p>
                              <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">From-To: </span>2022-2024</p>
                              <hr>
                            </li>
                
                            <!-- Education Entry 2 -->
                            <li style="list-style: none; margin-bottom: 20px; padding: 15px; border: 1px solid #ddd; border-radius: 8px;">
                              <h5 class="lh-base mb-0" style="padding-bottom: 15px; color: black;">College Name</h5>
                              <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">Degree: </span>Associate Degree</p>
                              <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">Major: </span>Graphic Design</p>
                              <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">From-To: </span>2022-2024</p>

                               <hr>
                            </li>
                          </ul>
                    </div>
                </div><!-- end card-body -->
              </div><!-- end card -->
              <div class="col-xl-4" style="width:25%; float: right;">
                <div class="card">
                    <div class="card-body">
                        <div class="pb-2" style="padding-top: 10px; padding-left:10px;">
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <h4 class="card-title mb-0">Bio</h4>
                                <a class="btn btn-outline-secondary" href="{% url 'edituserbio' %}" role="button" style="margin-top: 20px;">Edit Bio</a>
                            </div>
                            <p>Hi I'm Jansh, has been the industry's standard dummy text To an English
                                person, it will seem like
                                simplified.</p>
                            <ul class="ps-3 mb-0">
                                <li>it will seem like simplified.</li>
                                <li>To achieve this, it would be necessary to have uniform pronunciation</li>
                            </ul>
                            <!-- end ul -->
                        </div>
                        
                    </div><!-- end cardbody -->
                </div><!-- end card -->
        
  
                <div class="card">
                  <div class="card-body" >
                      <div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h4 class="card-title mb-0">Contact</h4>
                            <a class="btn btn-outline-secondary" href="{% url 'editusercontact' %}" role="button" style="margin-top: 20px;">Edit </a>
                        </div>                          <div class="table-responsive">
                              <table class="table  mb-0">
                                  <tbody>
                                      <tr>
                                          <th scope="row">Phone</th>
                                          <td>01189763512</td>
                                      </tr><!-- end tr -->
                                      <tr>
                                          <th scope="row">E-mail</th>
                                          <td>katlinstark@GOT.com</td>
                                      </tr><!-- end tr -->
                                      <tr>
                                          <th scope="row">fax</th>
                                          <td>229-230-980</td>
                                      </tr><!-- end tr -->
                                      <tr>
                                          <th scope="row">GitHub</th>
                                          <td>there@git.com</td>
                                      </tr><!-- end tr -->
                                  </tbody><!-- end tbody -->
                              </table><!-- end table -->
                          </div>
                      </div>
                  </div><!-- end card body -->
              </div><!-- end card -->
      
  
  
  
  
    
                <hr>
    <div class="pt-2">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="card-title mb-0" style="color: #ffffff">Technical Skill</h4>
            <a class="btn btn-outline-secondary" href="{% url 'userskills' %}" role="button" style="margin-top: 20px;">Edit Skill</a>
        </div>   
               <div class="d-flex gap-2 flex-wrap">
            <span class="badge badge-soft-secondary p-2" style="background-color: #0D6EFD; color:#ffffff">HTML</span>
            <span class="badge badge-soft-secondary p-2" style="background-color: #0D6EFD; color:#ffffff">Bootstrap</span>
            <span class="badge badge-soft-secondary p-2" style="background-color: #0D6EFD; color:#ffffff">Scss</span>
            <span class="badge badge-soft-secondary p-2" style="background-color: #0D6EFD; color:#ffffff">Javascript</span>
            <span class="badge badge-soft-secondary p-2" style="background-color: #0D6EFD; color:#ffffff">React</span>
            <span class="badge badge-soft-secondary p-2" style="background-color: #0D6EFD; color:#ffffff">Angular</span>
        </div>
    </div>


    <div class="card" style="margin-top: 30px;">
        <div class="card-body">
            <div class="pb-2" style="padding-top: 10px; padding-left:10px;">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h4 class="card-title mb-0">Volunteer work</h4>
                    <a class="btn btn-outline-secondary" href="{% url 'uservolant' %}" role="button" style="margin-top: 20px;">Edit </a>
                </div>
                                <p>Hi I'm Jansh, has been the industry's standard dummy text To an English
                    person, it will seem like
                    simplified.</p>
                <ul class="ps-3 mb-0">
                    <li>it will seem like simplified.</li>
                    <li>To achieve this, it would be necessary to have uniform pronunciation</li>
                    <li>To achieve this, it would be necessary to have uniform pronunciation</li>
                    <li>To achieve this, it would be necessary to have uniform pronunciation</li>
                    <li>To achieve this, it would be necessary to have uniform pronunciation</li>
                    <li>To achieve this, it would be necessary to have uniform pronunciation</li>
                    <li>To achieve this, it would be necessary to have uniform pronunciation</li>
                    <li>To achieve this, it would be necessary to have uniform pronunciation</li>
                </ul>
                <!-- end ul -->
            </div>
            
        </div><!-- end cardbody -->
    </div><!-- end card -->
                
        </div><!-- end col -->


           




    
            <div class="card" style="float: left; width:73%;">

                
              <div class="card-body" >
                  <div  style="margin: 15px 20px 10px 20px;">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h4 class="card-title mb-0">Work Experince</h4>
                        <a class="btn btn-outline-secondary" href="{% url 'userexperience' %}" role="button" style="margin-top: 20px;">Edit Experience</a>
                    </div>
                        <ul class="list-unstyled  mb-0">
                          <li class="ex" >
                              <h6 class="lh-base mb-0 comp" ><span style="color:black; font-size:18px;" >Company : </span>ABCD Company</h6>
                             <br>
                              <p class="font-size-13 mb-2 det" style=" margin-bottom:15px;"><span style="color:black; font-size:18px; " >Position : </span>Web Designer</p>
                              <span style="color:black; font-size:18px;" >Details : </span><br>
                              <p>To achieve this, it would be necessary to have uniform grammar, and more
                                common words.To achieve this, it would be necessary to have uniform grammar, and more
                                common words.To achieve this, it would be necessary to have uniform grammar, and more
                                common words.To achieve this, it would be necessary to have uniform grammar, and more
                                common words.To achieve this, it would be necessary to have uniform grammar, and more
                                common words.</p>
                                  <hr>
                                </li>
                                <li class="ex" >
                                  <h6 class="lh-base mb-0 comp" ><span style="color:black; font-size:18px;" >Company : </span>ABCD Company</h6>
                                 <br>
                                  <p class="font-size-13 mb-2 det" style=" margin-bottom:15px;"><span style="color:black; font-size:18px; " >Position : </span>Web Designer</p>
                                  <span style="color:black; font-size:18px;" >Details : </span><br>
                                  <p>To achieve this, it would be necessary to have uniform grammar, and more
                                    common words.To achieve this, it would be necessary to have uniform grammar, and more
                                    common words.To achieve this, it would be necessary to have uniform grammar, and more
                                    common words.To achieve this, it would be necessary to have uniform grammar, and more
                                    common words.To achieve this, it would be necessary to have uniform grammar, and more
                                    common words.</p>
                                      <hr>
                                    </li>
                                    <li class="ex" >
                                      <h6 class="lh-base mb-0 comp" ><span style="color:black; font-size:18px;" >Company : </span>ABCD Company</h6>
                                     <br>
                                      <p class="font-size-13 mb-2 det" style=" margin-bottom:15px;"><span style="color:black; font-size:18px; " >Position : </span>Web Designer</p>
                                      <span style="color:black; font-size:18px;" >Details : </span><br>
                                      <p>To achieve this, it would be necessary to have uniform grammar, and more
                                        common words.To achieve this, it would be necessary to have uniform grammar, and more
                                        common words.To achieve this, it would be necessary to have uniform grammar, and more
                                        common words.To achieve this, it would be necessary to have uniform grammar, and more
                                        common words.To achieve this, it would be necessary to have uniform grammar, and more
                                        common words.</p>
                                          <hr>
                                        </li>
                        
                                        <li class="ex" >
                                          <h6 class="lh-base mb-0 comp" ><span style="color:black; font-size:18px;" >Company : </span>ABCD Company</h6>
                                         <br>
                                          <p class="font-size-13 mb-2 det" style=" margin-bottom:15px;"><span style="color:black; font-size:18px; " >Position : </span>Web Designer</p>
                                          <span style="color:black; font-size:18px;" >Details : </span><br>
                                          <p>To achieve this, it would be necessary to have uniform grammar, and more
                                            common words.To achieve this, it would be necessary to have uniform grammar, and more
                                            common words.To achieve this, it would be necessary to have uniform grammar, and more
                                            common words.To achieve this, it would be necessary to have uniform grammar, and more
                                            common words.To achieve this, it would be necessary to have uniform grammar, and more
                                            common words.</p>
                                              <hr>
                                            </li>
                      </ul><!-- end ul -->
                  </div>
              </div><!-- end card-body -->
            </div><!-- end card -->



            <div class="card" style="float: left; width:73%;">

                
                <div class="card-body" >
                    <div  style="margin: 15px 20px 10px 20px;">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h4 class="card-title mb-0">Certificates</h4>
                            <a class="btn btn-outline-secondary" href="{% url 'usercertificates' %}" role="button" style="margin-top: 20px;">Edit Certificates</a>
                        </div>
                        <ul class="list-unstyled mb-0">
                            <!-- Education Entry 1 -->
                            <li style="list-style: none; margin-bottom: 20px; padding: 15px; border: 1px solid #ddd; border-radius: 8px;">
                              <h5 class="lh-base mb-0" style="padding-bottom: 15px; color: black;">University Name</h5>
                              <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">Major: </span>Bachelor of Science</p>
                              <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">about: </span>Computer Science</p>
                              <hr>
                            </li>
                
                            <!-- Education Entry 2 -->
                            <li style="list-style: none; margin-bottom: 20px; padding: 15px; border: 1px solid #ddd; border-radius: 8px;">
                                <h5 class="lh-base mb-0" style="padding-bottom: 15px; color: black;">University Name</h5>
                                <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">Major: </span>Bachelor of Science</p>
                                <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">about: </span>Computer Science</p>
                                <hr>
                            </li>
                          </ul>
                    </div>
                </div><!-- end card-body -->
              </div><!-- end card -->





          

            <div class="card" style="float: left; width:73%;">


              <div class="card-body" style="margin: 15px 20px 10px 20px;">
                <div>
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h4 class="card-title mb-0">Projects</h4>
                        <a class="btn btn-outline-secondary" href="{% url 'userprojects' %}" role="button" style="margin-top: 20px;">Edit Projects</a>
                    </div>
                    <ul class="list-unstyled  mb-0">
                      <li style="list-style: none; margin-bottom: 20px; padding: 15px; border: 1px solid #ddd; border-radius: 8px;">
                        <h5 class="lh-base mb-0" style="padding-bottom: 15px; color: black;">Website Company</h5>
                        <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">Role: </span>Developer</p>
                        <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">Tool: </span>Python</p>
                        <span style="color: black; font-size: 18px;">Description:</span><br>
                        <p style="color: rgb(80, 47, 47); font-size: 20px; padding-left: 100px;">To achieve this, it would be necessary to have uniform grammar, and more
                            common words. To achieve this, it would be necessary to have uniform grammar, and more
                            common words. To achieve this, it would be necessary to have uniform grammar, and more
                            common words. To achieve this, it would be necessary to have uniform grammar, and more
                            common words. To achieve this, it would be necessary to have uniform grammar, and more
                            common words.</p>
                        <hr>
                    </li>
                        <li style="list-style: none; margin-bottom: 20px; padding: 15px; border: 1px solid #ddd; border-radius: 8px;">
                          <h5 class="lh-base mb-0" style="padding-bottom: 15px; color: black;">Website Company</h5>
                          <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">Role: </span>Developer</p>
                          <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">Tool: </span>Python</p>
                          <span style="color: black; font-size: 18px;">Description:</span><br>
                          <p style="color: rgb(80, 47, 47); font-size: 20px; padding-left: 100px;">To achieve this, it would be necessary to have uniform grammar, and more
                              common words. To achieve this, it would be necessary to have uniform grammar, and more
                              common words. To achieve this, it would be necessary to have uniform grammar, and more
                              common words. To achieve this, it would be necessary to have uniform grammar, and more
                              common words. To achieve this, it would be necessary to have uniform grammar, and more
                              common words.</p>
                          <hr>
                      </li>
                      <li style="list-style: none; margin-bottom: 20px; padding: 15px; border: 1px solid #ddd; border-radius: 8px;">
                        <h5 class="lh-base mb-0" style="padding-bottom: 15px; color: black;">Website Company</h5>
                        <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">Role: </span>Developer</p>
                        <p class="font-size-13 mb-2" style="color: rgb(80, 47, 47); font-size: 20px;"><span style="color: black; font-size: 18px;">Tool: </span>Python</p>
                        <span style="color: black; font-size: 18px;">Description:</span><br>
                        <p style="color: rgb(80, 47, 47); font-size: 20px; padding-left: 100px;">To achieve this, it would be necessary to have uniform grammar, and more
                            common words. To achieve this, it would be necessary to have uniform grammar, and more
                            common words. To achieve this, it would be necessary to have uniform grammar, and more
                            common words. To achieve this, it would be necessary to have uniform grammar, and more
                            common words. To achieve this, it would be necessary to have uniform grammar, and more
                            common words.</p>
                        <hr>
                    </li> 
                    </ul><!-- end ul -->
                </div>
            </div><!-- end card-body -->
              

        </div><!-- end card -->


        <div class="card" style="float: left; width:73%;">


            <div class="card-body" style="margin: 15px 20px 10px 20px;">
                <div>
                    <div class="row justify-content-center">
                        <div class="col-md-2 d-flex justify-content-end">
                          <button type="button" onclick="location.href='AddSection1'" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="width: 200px;">Add Section</button>
                        </div>
                    </div>                  

                </div>
                  
                </div>
            </div><!-- end card-body -->
        </div>
   


            
    
       
    </div>
    </div>


  </div>



</body>
{% endblock %}
