{% extends 'RMS/main.html' %}




{% block content %}




<div class="container"  >


    <div class="poster">

    <div class="insideposter">
        <h1 class="headofedit"> Edit Projects</h1>
    </div>
    </div>

    <div class="card info" >
        <div class="card">

                
            <div class="card-body" >
                <div  style="margin: 15px 20px 10px 20px;">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h4 class="card-title mb-0">Projects</h4>
                        <a class="btn btn-primary" href="{% url 'addproject' %}" role="button" style="margin-top: 20px;">Add New</a>
                    </div>
                        <ul class="list-unstyled  mb-0">

                          <li style="list-style: none; margin-bottom: 20px; padding: 15px; border: 1px solid #ddd; border-radius: 8px; position: relative;">
                            <button type="button" class="btn btn-danger btn-sm delete-btn" style="position: absolute; top: 5px; right: 5px;">Delete</button>
                            <h5 class="lh-base mb-0" style="padding-bottom: 15px; color: black;"><span style="color:black; font-size:18px;" >  </span>Hospital </h5>
                            <p class="font-size-13 mb-2" style="margin-left: 20px; color: rgb(80, 47, 47); font-size: 20px;">
                              <span style="display: inline-block; margin-right: 10px; color: black; font-size: 18px;">Rule:</span>
                              <textarea id="textArea" name="textArea" style="vertical-align: top; margin-bottom: 20px; width:500px;" placeholder=""></textarea>
                            </p>
                            <p class="font-size-13 mb-2" style="margin-left: 20px; color: rgb(80, 47, 47); font-size: 20px;">
                              <span style="display: inline-block; margin-right: 10px; color: black; font-size: 18px;">Tools:</span>
                              <textarea id="textArea" name="textArea" style="vertical-align: top; margin-bottom: 20px; width:500px;" placeholder=""></textarea>
                            </p>
                            <p class="font-size-13 mb-2" style="margin-left: 20px; color: rgb(80, 47, 47); font-size: 20px;">
                              <span style="display: inline-block; margin-right: 10px; color: black; font-size: 18px;">Description:</span>
                              <textarea id="textArea" name="textArea" style="vertical-align: top; margin-bottom: 20px; width:500px;" placeholder=""></textarea>
                            </p>
                              
                            <hr>
                        </li>
                        <li style="list-style: none; margin-bottom: 20px; padding: 15px; border: 1px solid #ddd; border-radius: 8px; position: relative;">
                          <button type="button" class="btn btn-danger btn-sm delete-btn" style="position: absolute; top: 5px; right: 5px;">Delete</button>
                          <h5 class="lh-base mb-0" style="padding-bottom: 15px; color: black;"><span style="color:black; font-size:18px;" >  </span>Hospital </h5>
                          <p class="font-size-13 mb-2" style="margin-left: 20px; color: rgb(80, 47, 47); font-size: 20px;">
                            <span style="display: inline-block; margin-right: 10px; color: black; font-size: 18px;">Rule:</span>
                            <textarea id="textArea" name="textArea" style="vertical-align: top; margin-bottom: 20px; width:500px;" placeholder=""></textarea>
                          </p>
                          <p class="font-size-13 mb-2" style="margin-left: 20px; color: rgb(80, 47, 47); font-size: 20px;">
                            <span style="display: inline-block; margin-right: 10px; color: black; font-size: 18px;">Tools:</span>
                            <textarea id="textArea" name="textArea" style="vertical-align: top; margin-bottom: 20px; width:500px;" placeholder=""></textarea>
                          </p>
                          <p class="font-size-13 mb-2" style="margin-left: 20px; color: rgb(80, 47, 47); font-size: 20px;">
                            <span style="display: inline-block; margin-right: 10px; color: black; font-size: 18px;">Description:</span>
                            <textarea id="textArea" name="textArea" style="vertical-align: top; margin-bottom: 20px; width:500px;" placeholder=""></textarea>
                          </p>
                          <hr>
                      </li>
                      <li style="list-style: none; margin-bottom: 20px; padding: 15px; border: 1px solid #ddd; border-radius: 8px; position: relative;">
                        <button type="button" class="btn btn-danger btn-sm delete-btn" style="position: absolute; top: 5px; right: 5px;">Delete</button>
                        <h5 class="lh-base mb-0" style="padding-bottom: 15px; color: black;"><span style="color:black; font-size:18px;" >  </span>Hospital </h5>
                        <p class="font-size-13 mb-2" style="margin-left: 20px; color: rgb(80, 47, 47); font-size: 20px;">
                          <span style="display: inline-block; margin-right: 10px; color: black; font-size: 18px;">Rule:</span>
                          <textarea id="textArea" name="textArea" style="vertical-align: top; margin-bottom: 20px; width:500px;" placeholder=""></textarea>
                        </p>                        
                        <p class="font-size-13 mb-2" style="margin-left: 20px; color: rgb(80, 47, 47); font-size: 20px;">
                          <span style="display: inline-block; margin-right: 10px; color: black; font-size: 18px;">Tools:</span>
                          <textarea id="textArea" name="textArea" style="vertical-align: top; margin-bottom: 20px; width:500px;" placeholder=""></textarea>
                        </p> 
                        <p class="font-size-13 mb-2" style="margin-left: 20px; color: rgb(80, 47, 47); font-size: 20px;">
                          <span style="display: inline-block; margin-right: 10px; color: black; font-size: 18px;">Description:</span>
                          <textarea id="textArea" name="textArea" style="vertical-align: top; margin-bottom: 20px; width:500px;" placeholder=""></textarea>
                        </p>                         
                        <hr>
                    </li>
                        
                    <li style="list-style: none; margin-bottom: 20px; padding: 15px; border: 1px solid #ddd; border-radius: 8px; position: relative;">
                      <button type="button" class="btn btn-danger btn-sm delete-btn" style="position: absolute; top: 5px; right: 5px;">Delete</button>
                      <h5 class="lh-base mb-0" style="padding-bottom: 15px; color: black;"><span style="color:black; font-size:18px;" >  </span>Hospital </h5>
                      <p class="font-size-13 mb-2" style="margin-left: 20px; color: rgb(80, 47, 47); font-size: 20px;">
                        <span style="display: inline-block; margin-right: 10px; color: black; font-size: 18px;">Rule:</span>
                        <textarea id="textArea" name="textArea" style="vertical-align: top; margin-bottom: 20px; width:500px;" placeholder=""></textarea>
                     </p>                      
                     <p class="font-size-13 mb-2" style="margin-left: 20px; color: rgb(80, 47, 47); font-size: 20px;">
                      <span style="display: inline-block; margin-right: 10px; color: black; font-size: 18px;">Tools:</span>
                      <textarea id="textArea" name="textArea" style="vertical-align: top; margin-bottom: 20px; width:500px;" placeholder=""></textarea>
                     </p> 
                     <p class="font-size-13 mb-2" style="margin-left: 20px; color: rgb(80, 47, 47); font-size: 20px;">
                      <span style="display: inline-block; margin-right: 10px; color: black; font-size: 18px;">Description:</span>
                      <textarea id="textArea" name="textArea" style="vertical-align: top; margin-bottom: 20px; width:500px;" placeholder=""></textarea>
                     </p>                       
                      <hr>
                  </li>
                      </ul><!-- end ul -->
                </div>
            </div><!-- end card-body -->
          </div><!-- end card -->    

     </div>
             
</div>

<script>
    document.getElementById('profilePicture').addEventListener('change', function (event) {
        const imagePickerContainer = document.getElementById('imagePickerContainer');
        const fileInput = event.target;
        const file = fileInput.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                const imageUrl = e.target.result;

                // Update the image picker with the selected image
                imagePickerContainer.innerHTML = `<img src="${imageUrl}" alt="Selected Image" class="img-fluid rounded-circle">`;
            };

            reader.readAsDataURL(file);
        }
    });
</script>


{% endblock %}
