.containerpass {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.5px;

}

#passwordform{
    width:100%;

}

.cardpass {

    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-bodypass {
margin-top: 33%;
width: 90%;
    padding: 40px;
}

.form-control {
    margin-top: 30px;
    height: 60px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0056b3;
}